---
- name: Install nginx on Ubuntu
  ansible.builtin.apt:
    name: nginx
    state: present
    update_cache: yes
  when: ansible_facts['distribution'] == 'Ubuntu'

- name: Deploy index.html
  ansible.builtin.template:
    src: index.html.j2
    dest: /var/www/html/index.html
    owner: root
    group: root
    mode: '0644'
  when: ansible_facts['distribution'] == 'Ubuntu'
  notify: Reload nginx

- name: Deploy nginx site config
  ansible.builtin.copy:
    src: default.conf
    dest: /etc/nginx/sites-available/default
    owner: root
    group: root
    mode: '0644'
  when: ansible_facts['distribution'] == 'Ubuntu'
  notify: Reload nginx

- name: Enable nginx site
  ansible.builtin.file:
    src: /etc/nginx/sites-available/default
    dest: /etc/nginx/sites-enabled/default
    state: link
    force: yes
  when: ansible_facts['distribution'] == 'Ubuntu'
  notify: Reload nginx

- name: Ensure nginx is running
  ansible.builtin.service:
    name: nginx
    state: started
    enabled: yes
  when: ansible_facts['distribution'] == 'Ubuntu'
